@import '@styles';

.main {
  min-height: 100vh;
  padding: 100px 0;
  background: $purple-gradient;

  @media (max-width: 767px) {
    padding: 80px 0 60px;
    position: relative;
  }

  &Body {
    &__hello {
      font-family: 'Montserrat';
      font-size: 60px;
      line-height: 1;
      color: $primary-color;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 32px;
      }
    }
    &__description {
      font-family: 'Montserrat';
      margin: 20px 0 0;
      font-size: 32px;
      line-height: 1.15;
      text-align: center;
      color: $primary-color;

      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
    &__list {
      margin: 26px auto 0;
      max-width: 920px;

      &Item {
        position: relative;
        font-family: 'Montserrat';
        font-size: 26px;
        line-height: 1;
        color: $primary-color;
        padding: 0 0 0 26px;

        @media (max-width: 767px) {
          padding: 0 0 0 20px;
          font-size: 20px;
        }

        &::before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background-color: $toxic-yellow;
          border-radius: 50%;
          position: absolute;
          top: 7px;
          left: 0;

          @media (max-width: 767px) {
            width: 10px;
            height: 10px;
            top: 6px;
          }
        }

        &:not(:first-child) {
          margin: 14px 0 0;
        }
      }
    }
  }
}

.about {
  padding: 80px 0;
  background: $dark;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &Body {
    &__title {
      font-family: 'Inter';
      font-size: 60px;
      line-height: 1;
      color: $primary-font-color;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 32px;
      }
    }
    &__descr {
      margin: 50px 0 0;
      font-family: 'Inter';
      font-size: 26px;
      line-height: 34px;
      text-align: center;
      color: $primary-font-color;

      @media (max-width: 767px) {
        margin: 30px 0 0;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

.contentGradient {
  background: linear-gradient(180deg, #212042 0%, #4cc9ae 100%);
}

.preview {
  padding: 80px 0;
  // background: $dark;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &Body {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;

    &__slider {
      margin: 0 auto;
      min-width: 0;
      min-height: 0;
      width: 100%;
      max-width: 920px;
      height: 420px;
      border-radius: 15px;
      overflow: hidden;
    }

    &__title {
      font-family: 'Inter';
      font-size: 60px;
      line-height: 1;
      color: $primary-font-color;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 32px;
      }
    }

    &__more {
      align-items: center;
      cursor: pointer;
      margin: 60px auto 0;

      text {
        fill: $white !important;
      }
    }
  }
}

.reviews {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &__title {
    font-family: 'Inter';
    font-size: 60px;
    line-height: 1;
    color: $primary-font-color;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  &__subtitle {
    margin: 20px 0 0;
    font-family: 'Inter';
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &Slider {
    margin: 100px auto 0;
    max-width: 720px;
    color: $dark-bg-primary-font-color;
    text-align: center;
    font-size: 18px;
    line-height: 22px;

    .review {
      padding: 0 50px 30px;
      &Name {
        font-size: 24px;
        display: block;
      }
      &Content {
        margin: 20px 0 0;
        display: block;
      }
    }
  }
}

.bullet {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.7;

  &:not(:first-child) {
    margin: 0 0 0 10px;
  }

  &Light {
    background-color: #000;
    opacity: 0.4;
  }

  &Active {
    width: 30px;
    height: 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    background-color: $primary-color;
    opacity: 1;

    // @media (prefers-color-scheme: dark) {
    //   background-color: $dark-primary-color;
    // }
  }
}

.advantages {
  padding: 80px 0;
  background: $dark;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &__title {
    font-family: 'Inter';
    font-size: 60px;
    line-height: 1;
    color: $primary-font-color;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 32px;
    }
  }

  &Body {
    margin: 70px 0 0;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
      margin: 30px 0 0;
      flex-wrap: wrap;
    }

    &__item {
      flex: 0 1 370px;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
      border-radius: 24px;
      padding: 25px;

      &:not(:first-child) {
        margin: 0 0 0 40px;
      }

      @media (max-width: 767px) {
        flex: 1 1 100%;
        border-radius: 20px;
        padding: 20px;

        &:not(:first-child) {
          margin: 30px 0 0;
        }
      }

      &Title {
        font-family: 'Inter';
        font-size: 36px;
        line-height: 44px;
        color: #212042;
        text-align: center;

        @media (max-width: 767px) {
          font-size: 28px;
          line-height: 36px;
        }
      }
      &Descr {
        margin: 20px 0 0;
        font-family: 'Montserrat';
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #212042;

        @media (max-width: 767px) {
          margin: 16px 0 0;
          font-size: 18px;
          line-height: 24px;
        }
        &.additional {
        }
      }
    }
  }
}

.stack {
  padding: 80px 0;
  background: #4cc9ae;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &__title {
    font-family: 'Inter';
    font-size: 60px;
    line-height: 1;
    color: $primary-font-color;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  &Body {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0;
    max-width: 1100px;

    @media (max-width: 767px) {
      margin: 30px auto 0;
    }

    &__item {
      flex: 0 0 25%;
      font-family: 'Montserrat';
      font-size: 28px;
      line-height: 40px;
      color: #ffffff;
      padding: 0 0 0 20px;
      position: relative;

      &:not(:first-child) {
        margin: 20px 0 0;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin: 0;
      }

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 14px;
        height: 14px;
        background: $toxic-yellow;
        border-radius: 50%;
      }

      @media (max-width: 767px) {
        flex: 1 1 100%;
        font-size: 22px;
        &:not(:first-child) {
          margin: 14px 0 0;
        }

        &::before {
          width: 10px;
          height: 10px;
          top: 6px;
        }
      }
    }
  }
}
