@import '@styles';

.bullet__listbullets {
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%) translate3d(0, 0, 0) !important;
}

.bullet__list-lightbullets {
  display: flex;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%) translate3d(0, 0, 0) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: $primary-color !important;

  @media (prefers-color-scheme:dark) {
    color: $dark-primary-color !important;
  }
}

._main-slider {

  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    margin: 0 !important;
    width: 65px;
    height: 100%;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
    opacity: 0;
    transition: all .3s ease;

    &:hover {
      opacity: 1;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.6530987394957983) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  .swiper-button-next {
    right: 0;
    opacity: 0;
    transition: all .3s ease;

    &:hover {
      opacity: 1;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.6530987394957983) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
}