.filter {
  display: flex;
  &__item {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 12px;
    font-size: 32px;
    margin: 0 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: relative;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 3px;
      background-color: rgb(144, 199, 255);
      width: 0;
      border-radius: 50px;
      transition: width 0.2s ease, background 0.2s ease;
    }
    &:first-child {
      margin: 0;
    }
    &:hover {
      &:after {
        width: 100%;
        transition: width 0.3s ease, background 0.3s ease;
      }
    }
    &.active {
      &:after {
        width: 100%;
        background-color: rgb(115, 236, 74);
        transition: width 0.3s ease, background 0.3s ease;
      }
    }
  }
}