
@keyframes popupOpen {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
}

.filter {
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(62, 62, 62);
  animation: popupOpen .3s 1;
  &Button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(144, 199, 255);
      transform: skew(-25deg, 0deg);
      transition: all .3s ease;
      border-radius: 3px;
    }
    &:hover {
      &::before {
        transform: skew(25deg, 0deg);
        // transform: skew(55deg, -20deg);
      }
    }
  }
  &__close {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.5);
    border-radius: 50%;
  }
  &__title {
    font-size: 40px;
    color: #fff;
  }
  &Body {
    display: flex;
    padding: 20px 0 0 0;
    @media (max-width:767px) {
      flex-wrap: wrap;
    }
    &__item {
      cursor: pointer;
      width: 200px;
      height: 200px;
      border: 5px solid rgb(144, 199, 255);
      border-radius: 23px;
      font-size: 32px;
      margin: 0 0 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease;
      background-color: rgb(62, 62, 62);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        transform: scale(1.1);
      }
      @media (max-width:767px) {
        width: 100%;
        margin: 20px 0 0 0;
        &:first-child {
          margin: 0;
        }
      }
      &:hover {
        border: 5px solid rgb(187, 235, 110);
      }
      &.active {
        border: 5px solid rgb(115, 236, 74);
      }
      &:first-child {
        margin: 0;
      }
    }
  }
}
.popup-overlay  {
  background-color: rgba($color: #000, $alpha: 0.3);
}