@import '@styles';

.header {
  position: absolute;
  z-index: 10;
  padding: 20px 0;
  width: 100%;

  &._footer {
    position: relative;
    background: #4cc9ae;

    &._portfolio {
      margin: 50px 0 0;
      background: transparent;
    }
  }

  &Body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__github {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: $primary-font-color;

      // @media (prefers-color-scheme: dark) {
      //   color: $dark-bg-primary-font-color;
      // }

      img,
      svg {
        margin: 0 10px 0 0;
      }

      svg {
        path {
          // fill: #161614;
          fill: $white;

          // @media (prefers-color-scheme: dark) {
          //   fill: #d4d4d4;
          // }
        }
      }

      @media (max-width: 767px) {
        font-size: 14px;

        img,
        svg {
          width: 20px;
          margin: 0 5px 0 0;
        }
      }
    }

    &__menu {
      display: flex;
      align-items: center;

      &Item {
        cursor: pointer;
        display: flex;
        font-size: 18px;
        color: $primary-font-color;

        // @media (prefers-color-scheme: dark) {
        //   color: $dark-bg-primary-font-color;
        // }

        &.count {
          span {
            margin: 0 0 0 4px;
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $cursor-primary-color;
            border-radius: 50%;
            font-size: 12px;
            color: #fff;
            transition: all 0.3s ease;

            // transition: .3s cubic-bezier(.75, -1.27, .3, 2.33) transform;
            // @media (prefers-color-scheme: dark) {
            //   background-color: $dark-primary-color;
            // }
          }

          &:hover {
            span {
              transform: scale(0) translate(-100px, 0);
              opacity: 0;
            }
          }

          @media (max-width: 992px) {
            &:hover {
              span {
                transform: scale(1) translate(0);
                opacity: 1;
              }
            }
          }
        }

        &:not(:first-child) {
          margin: 0 0 0 50px;
        }

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 20px;

          &:not(:first-child) {
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}
