.header {
  position: absolute;
  top: 20px;
  width: 100%;

  &Body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__github {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: #000;

      img {
        margin: 0 10px 0 0;
      }
    }

    &__menu {
      display: flex;
      align-items: center;

      &Item {
        font-size: 18px;
        color: #000;

        &:not(:first-child) {
          margin: 0 0 0 50px;
        }
      }
    }
  }
}