.header {
  &Body {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // &__logo {
    //   a {
    //     color: #000;
    //   }
    // }
  }
  &Btns {
    display: flex;
    div {
      margin: 0 0 0 50px;
      @media (max-width:767px) {
        margin: 0 0 0 20px;
      }
      &:first-child {
        margin: 0;
      }
    }
    a {
      margin: 0 0 0 50px;
      @media (max-width:767px) {
        margin: 0 0 0 20px;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
}

.loader {
  position: fixed;
  width: 30px;
  height: 30px;
  z-index: 111111;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #1378ef;
  animation: loader 1s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(200, 200);
  }
  100% {
    transform: scale(0);
  }
}