@import 'normalize.css';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: none !important;

  &:hover {
    cursor: none !important;
  }
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}





@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: roboto;
}

.container {
  max-width: 2590px;
  margin: 0 auto;
  padding: 0 15px;

  &.small {
    max-width: 1310px;

    @media (min-width:1440px) {
      padding: 0 15px;
    }
  }

  @media (min-width:1440px) {
    padding: 0 50px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}



// Cusrom cursor
.cursor {
  position: fixed;
  background: #1378ef;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 1111;
  transform: scale(1) translate(-2px, -2px);
  transition: .3s cubic-bezier(.75, -1.27, .3, 2.33) transform;

  &.active {
    transform: scale(0);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.link .portfolioLink {
  position: relative;
  z-index: 1;
}

.follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #1378ef;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 1111;
  transform: scale(1);
  transition: .3s cubic-bezier(.75, -1.27, .3, 2.33) transform, .2s cubic-bezier(.75, -0.27, .3, 1.33) background;

  &.active {
    transform: scale(2);
    background: #1378ef;
    z-index: 0;
  }

  &.activePortfolio {
    transform: scale(2);
    background: #1378ef;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .cursor {
    display: none;
  }

  .follower {
    display: none;
  }
}