@import 'normalize.css';
@import '@styles';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  // cursor: none !important;

  // &:hover {
  //   cursor: none !important;
  // }
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: $bg-primary-color;
  font-family: roboto;
  transition: 0.4s background-color;

  // @media (prefers-color-scheme: dark) {
  //   color: $dark-bg-primary-font-color;
  //   background-color: $dark-bg-primary-color;
  // }
}

.container {
  max-width: 2590px;
  margin: 0 auto;
  padding: 0 18px;

  &.small {
    max-width: 1310px;

    @media (min-width: 1440px) {
      padding: 0 15px;
    }
  }

  @media (min-width: 1440px) {
    padding: 0 50px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.portfolio {
    background: $purple-gradient;
  }
}

.content {
  flex: 1 1 auto;
}

// Cusrom cursor
.cursor {
  display: none;
  position: fixed;
  background: $cursor-primary-color;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 1111;
  transform: scale(1) translate(-2px, -2px);
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;

  @media (prefers-color-scheme: dark) {
    background: $dark-primary-color;
  }

  &.active {
    transform: scale(0);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.link .portfolioLink {
  position: relative;
  z-index: 1;
}

.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid $cursor-primary-color; // primary-color
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 1111;
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s ease background, 0.2s ease border-color;

  // @media (prefers-color-scheme: dark) {
  //   border-color: $dark-primary-color;
  // }

  &__counter {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    color: #fff;

    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &__projectType {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    // color: #fff;
    color: $cursor-primary-color;
    text-transform: capitalize;
    font-size: 10px;

    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &__projectName {
    position: absolute;
    bottom: -24px;
    opacity: 0;
    transform: scale(0) translate(0, -100px);
    // color: #fff;
    color: $cursor-primary-color;
    background-color: $primary-color;
    white-space: nowrap;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 10px;

    // transition: .3s cubic-bezier(.75, -1.27, .3, 2.33) transform;
    transition: 0.3s transform;

    @media (prefers-color-scheme: dark) {
      background-color: $dark-primary-color;
    }

    span {
      position: absolute;
      top: -9px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 18px;

      svg {
        width: 100%;

        path {
          fill: $primary-color;

          @media (prefers-color-scheme: dark) {
            fill: $dark-primary-color;
          }
        }
      }
    }
  }

  &__navigation {
    position: absolute;
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: $primary-color;

        @media (prefers-color-scheme: dark) {
          fill: $dark-primary-color;
        }
      }
    }

    &Prev,
    &Next {
      position: absolute;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s ease;
    }
  }

  &__projectBest {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: $best-project-border-color;

        @media (prefers-color-scheme: dark) {
          fill: $dark-best-project-border-color;
        }
      }
    }
  }

  &.active {
    transform: scale(1.5);
    background: $cursor-primary-color; // primary-color
    z-index: 1;

    // @media (prefers-color-scheme: dark) {
    //   background: $dark-primary-color;
    // }
  }

  &.activePortfolio {
    transform: scale(1.7) translate(0, -20px);
    background: $primary-color;
    border-color: $primary-color;

    // @media (prefers-color-scheme: dark) {
    //   background: $dark-primary-color;
    // }

    &._isBest {
      border-color: $cursor-primary-color;
      background: $best-project-border-color;

      .follower__projectType,
      .follower__projectName {
        color: $primary-font-color;
      }

      // @media (prefers-color-scheme: dark) {
      //   border-color: $dark-best-project-border-color;
      //   background: $dark-best-project-border-color;
      // }

      .follower__projectName {
        background: $best-project-border-color;

        @media (prefers-color-scheme: dark) {
          background: $dark-best-project-border-color;
        }

        span {
          svg {
            width: 100%;

            path {
              fill: $best-project-border-color;

              @media (prefers-color-scheme: dark) {
                fill: $dark-best-project-border-color;
              }
            }
          }
        }
      }
    }

    .follower__projectType {
      opacity: 1;
      transform: scale(1);
    }

    .follower__projectName {
      opacity: 1;
      transform: scale(1.3) translate(0, 14px);
    }
  }

  &.activeCounter {
    transform: scale(2) translate(-55%, 55%);
    background: $cursor-primary-color;

    @media (prefers-color-scheme: dark) {
      background: $dark-primary-color;
    }

    .follower__counter {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.activeNavigation-prev,
  &.activeNavigation-next {
    background: transparent;
    border-color: transparent;

    .follower__navigation {
      transform: scale(2);
    }
  }

  &.activeNavigation-prev {
    .follower__navigation {
      &Prev {
        opacity: 1;
      }
    }
  }

  &.activeNavigation-next {
    .follower__navigation {
      &Next {
        opacity: 1;
      }
    }
  }

  &.activeBest {
    background: transparent;
    border-color: transparent;

    .follower__projectBest {
      transform: scale(1.5);
      opacity: 1;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &._isSlider {
    border-color: $primary-color !important;
    background: $primary-color !important;

    // @media (prefers-color-scheme: dark) {
    //   border-color: $dark-primary-color !important;
    //   background: $dark-primary-color !important;
    // }

    .follower__projectType,
    .follower__projectName {
      background: $primary-color !important;
      color: $best-project-border-color !important;

      // @media (prefers-color-scheme: dark) {
      //   background: $dark-primary-color !important;
      // }

      svg {
        path {
          fill: $primary-color !important;

          @media (prefers-color-scheme: dark) {
            fill: $dark-primary-color !important;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cursor {
    display: none;
  }

  .follower {
    display: none;
  }
}

// .item-enter {
//   transform: scale(1) translate(100%, 0);
//   opacity: 0;
// }

// .item-enter-active {
//   transform: scale(1) translate(0);
//   opacity: 1;
//   transition: all 300ms ease-in;
// }

// .item-exit {
//   transform: scale(1) translate(0);
//   opacity: 1;
// }

// .item-exit-active {
//   opacity: 0;
//   transform: scale(1) translate(-100%, 0%);
//   transition: all 300ms ease-in;
// }
